*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}
body{
  height: 100vh;
}
.flow{
  position: fixed;
  width: 60px;
  font-family: 'Ubuntu',sans-serif;
  bottom: 10%;
  margin-left:85%;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
  
}

.flow ul {
  margin-top: 0;
  margin-bottom: 0rem;
}
.flow li{
  height: 45px;
  position:relative;
}
#icons{
  padding-bottom:20px;
  size: 5px;
}
.flow ul li a{
  color: #fff !important;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  padding-left:25%;
  border-bottom: 1px solid rgba(0,0,0,.4);
  transition: all .3s linear;
  text-decoration: none !important;
}
.flow li:nth-child(1) a{
  background: #4267B2;
}
.flow li:nth-child(2) a{
  background: #1DA1F2;
}

.flow li:nth-child(3) a{
  background: #075e54;
}

.flow ul li a i{
    position: absolute;
    top: 14px;
    left: 24px;
    font-size: 15px;
}
ul li a span{
  display: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.flow ul li a:hover {
  z-index:1;
  width: 200px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}
ul li:hover a span{
  padding-left: 30%;
  display: block;
  font-size: 15px;
}